@using T_API.Core.DTO.DatabasePackage
@model T_API.UI.Models.Database.CreateServiceViewModel
@{
    ViewData["Title"] = "CreateService";
}

<script src="~/js/ManageService.js"></script>
<form asp-action="CreateService" asp-controller="Database" asp-antiforgery="true" method="post">

    <div class="form-group">
        <label asp-for="PackageId">Database Package</label>
        <span class="text-danger" asp-validation-for="PackageId"></span>

        <table class="table table-dark table-bordered table-striped table-responsive">
            <thead>
                <tr class="text-center">
                    <td>#</td>

                    <td>Package</td>
                    <td>Api</td>
                    <td>Auth</td>
                    <td>Storage</td>
                    <td>View</td>
                    <td>SP</td>
                    <td>Trigger</td>
                    <td>UDF</td>
                    <td>Jobs</td>
                    <td>Max Column</td>
                    <td>Max Table</td>
                    <td>Max SP</td>
                    <td>Max UDF</td>
                    <td>Max Trigger</td>
                    <td>Max Job</td>
                    <td>Max View</td>
                    <td>Price</td>
                </tr>
            </thead>

            <tbody>
                @foreach (DetailDatabasePackageDto package in Model.Packages)
                {
                    <tr class="text-center">
                        <td><input type="radio" asp asp-for="PackageId" required="required" value="@package.PackageId" /></td>
                        <td>@package.PackageName</td>
                        <td>
                            @if (package.IsApiSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsAuthSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsStorageSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsViewSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsStoredProcedureSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsTriggerSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsUserDefinedFunctionSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            @if (package.IsJobSupport)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-times-circle"></i>
                            }
                        </td>
                        <td>@package.MaxColumnPerTable</td>
                        <td>@package.MaxTableCount</td>
                        <td>@package.MaxStoredProcedureCount</td>
                        <td>@package.MaxUserDefinedFunctionCount</td>
                        <td>@package.MaxTriggerCount</td>
                        <td>@package.MaxJobCount</td>
                        <td>@package.MaxViewCount</td>
                        <td>@package.Price ₺</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="form-group">
        <label asp-for="Provider">Provider</label>
        <select class="form-control" asp-for="Provider" required="required" asp-items="@(new SelectList(Model.Providers,"",""))">
            <option>Please select provider</option>
        </select>
        <span class="text-danger" asp-validation-for="Provider"></span>

    </div>
    <div class="form-group">
        <label asp-for="MonthCount">How Many Period ?</label>
        <input type="number" required="required" asp-for="MonthCount" class="form-control" />
        <span class="text-danger" asp-validation-for="MonthCount"></span>

    </div>
    <input asp-for="UserId" hidden="hidden" />


    <button type="reset" class="btn btn-danger">Discard</button>
    <button type="submit" class="btn btn-success">Submit</button>
</form>