@using T_API.Core.DTO.Database
@model T_API.UI.Models.Database.MyDatabasesViewModel
@{
    ViewData["Title"] = "Index";
}

<h4>@TempData["Message"]</h4>
<table class="table table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Database Server</th>
            <th scope="col">Provider</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">
                <a class="btn btn-success btn-sm" asp-action="CreateService" asp-controller="Database">Create Service</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListDatabaseDto database in Model.Databases)
        {
            <tr>
                <th scope="row">@database.DatabaseId</th>
                <td>@database.Server.Trim()</td>
                <td>@database.Provider.Trim()</td>
                <td>@database.StartDate</td>
                <td>@database.EndDate</td>
                <td>@(database.IsActive ? "Aktif" : "Pasif")</td>
                <td>
                    <div class="btn-group btn-group-sm dropright">
                        <button type="button" class="btn btn-secondary">
                            Detail
                        </button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Manage</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="EditService" asp-controller="Database" asp-route-serviceId="@database.DatabaseId">Edit Service</a>
                            <a class="dropdown-item" href="#">Suspend Service</a>
                            <a class="dropdown-item" href="#">Remove Service</a>
                            <!-- Dropdown menu links -->
                        </div>
                    </div>
                </td>
            </tr>

        }

    </tbody>
</table>
