@using T_API.Core.DTO.Database
@model T_API.UI.Models.Database.MyDatabasesViewModel
@{
    ViewData["Title"] = "Index";
}

<h4>@TempData["Message"]</h4>
<table class="table table-light table-hover">
    <thead class="thead-dark text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Database Server</th>
            <th scope="col">Provider</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">
                <a class="btn btn-success btn-sm" asp-action="CreateService" asp-controller="Database">Create Service</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListDatabaseDto database in Model.Databases)
        {
            <tr class="text-center">
                <th scope="row">@database.DatabaseId</th>
                <td>@database.Server.Trim()</td>
                <td>@database.Provider.Trim()</td>
                <td>@database.StartDate</td>
                <td>@database.EndDate</td>
                <td>
                    @if (database.IsActive)
                    {
                        <i class="fas fa-check-circle"></i>
                    }
                    else
                    {
                        <i class="far fa-times-circle"></i>
                    }
                </td>
                <td>
                    <a asp-action="EditService" asp-controller="Database" asp-route-serviceId="@database.DatabaseId" class="btn btn-secondary btn-sm">
                        Manage
                    </a>

                </td>
            </tr>

        }

    </tbody>
</table>
