@model T_API.UI.Areas.Admin.Models.Database.UpdateDatabaseViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <form asp-action="UpdateDatabase" asp-controller="Database" asp-antiforgery="true" method="post">
        <div class="form-group">
            <label asp-for="Server">Server</label>
            <input type="text" class="form-control" placeholder="@Model.Server" asp-for="Server">
            <span class="text-danger" asp-validation-for="Server"></span>
        </div>
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input type="text" class="form-control" placeholder="@Model.Username" asp-for="Username">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" placeholder="@Model.Username" asp-for="Username">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Port">Port</label>
            <input type="text" class="form-control" placeholder="@Model.Port" asp-for="Port">
            <span class="text-danger" asp-validation-for="Port"></span>
        </div>
        <div class="form-group">
            <label asp-for="Provider">Provider</label>
            <input type="password" class="form-control" placeholder="@Model.Provider" asp-for="Provider">
            <span class="text-danger" asp-validation-for="Provider"></span>
        </div>
        <div class="form-group">
            <label asp-for="Database">Database</label>
            <input type="password" class="form-control" placeholder="@Model.Database" asp-for="Database">
            <span class="text-danger" asp-validation-for="Database"></span>
        </div>

        <input asp-for="UserId" hidden="hidden" />
        <input asp-for="DatabaseId" hidden="hidden" />

        <button type="reset" class="btn btn-danger">Discard</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

