@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using T_API.Core.DTO.User
@model List<ListUserDto>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["Message"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="User" asp-route-id="@user.UserId">Delete</a>
                    <a class="btn btn-primary" asp-action="UpdateUser" asp-controller="User" asp-route-id="@user.UserId">Update</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a class="btn btn-secondary" asp-action="CreateUser" asp-controller="User">Create User</a>


